In [ ]:
# Video Game Sales with Ratings Assignment
# DSC 550
# Week 1
# Data Mining Assignment Week 1
# David Berberena
# 3/17/2024

# Program Start

## 1. Load the dataset as a Pandas data frame.

In [1]:
# To load any dataset as a Pandas data frame, the Pandas library needs to be imported

import pandas as pd

# Loading the Video Game Sales with Ratings CSV file into Python as a Pandas dataframe requires the pd.read_csv() function, 
# and I have specified the delimiter as "," so the Pandas data frame can work on the CSV file as intended. This has been 
# stored into a variable so it can be called on later for the manipulation of the data frame.

videogames = pd.read_csv('video_game_sales.csv', delimiter=',')

## 2. Display the first ten rows of data.

In [4]:
# Displaying the first ten rows of data involves the usage of the head() function, which by default only shows the first 
# five rows, yet can be adjusted by simply including the number of rows needed to visualize inside the function parentheses.

videogames.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

## 3. Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?

In [6]:
rows, columns = videogames.shape
print('Number of rows:', rows)
print('Number of columns:', columns)

Number of rows: 16719
Number of columns: 16

In [ ]:
# The number of rows in a dataset is equivalent to the number of total observations or data points. The number of columns 
# are the total number of variables in the dataset. These variables are characteristics of the data points that can help to 
# classify, categorize, or group them together.

## 4. Find the top five games by critic score.

In [8]:
# To sort the dataset by critic score, the sort_values() function is needed. For the data to be sorted by the Critic_Score 
# variable, the by argument is set to that variable. For the data to be displayed with the highest critic score as the 
# first observation, the ascending argument is set to False. The head() function is used to call only the first five data 
# points, which are stored in a variable and then called to be printed.

videogames_by_critic_score = videogames.sort_values(by='Critic_Score', ascending=False)

top_five_critic_score = videogames_by_critic_score.head(5)
top_five_critic_score

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M

## 5. Find the number of video games in the data frame in each genre.

In [9]:
# To find out the total number of video games within each genre, the Pandas value_counts() function is needed. Once the 
# Genre variable is called, the value_counts() function adds all of the video games in each specific genre as a Pandas 
# series and that series is stored in a variable to be printed.

genre_counts = videogames['Genre'].value_counts()

print("Number of video games in each genre:")
print(genre_counts)

Number of video games in each genre:
Genre
Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: count, dtype: int64

## 6. Find the first five games in the data frame on the SNES platform.

In [13]:
# This scenario asks for the first occurring games in the dataset that are on the SNES platform, so this simply is about 
# setting the Platform variable to SNES and calling it from the dataset to store this new dataset consisting only of SNES 
# games inside another variable. Then the head() function (which defaults to the first five data points) is performed on 
# that variable.

snes_games = videogames[videogames['Platform'] == 'SNES']
snes_games.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
56,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,NaN,NaN,NaN,NaN,NaN,NaN
71,Donkey Kong Country,SNES,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30,NaN,NaN,NaN,NaN,NaN,NaN
76,Super Mario Kart,SNES,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76,NaN,NaN,NaN,NaN,NaN,NaN
137,Street Fighter II: The World Warrior,SNES,1992.0,Fighting,Capcom,2.47,0.83,2.87,0.12,6.30,NaN,NaN,NaN,NaN,NaN,NaN

## 7. Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.

In [17]:
# To calculate the total global sales by publisher, the groupby() function in Pandas is used to group the data using the 
# Publisher variable. Then the Global_Sales variable is called and the sum() function is applied to that variable, which 
# adds up global sales for each publisher. This line of code in stored in a variable. To display the five publishers with 
# the highest total global sales, the publisher_sum_of_sales variable is sorted by descending order with the use of the 
# sort_values() function with the ascending argument set to False, and the head() function is used to automatically list 
# the top five publishers.

publisher_sum_of_sales = videogames.groupby('Publisher')['Global_Sales'].sum()
publisher_sum_of_sales.sort_values(ascending=False).head()

Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

## 8. Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

In [18]:
# To create a new column in the data frame for the percentage of North America sales in relation to global sales, I just 
# called a new column name that I made up and set that column equal to the division of NA_Sales and Global_Sales multiplied 
# by 100 as the column will display the values in percent form. The column is automatically appended to the end of the 
# existing dataset and is seen when the head() function is called.

videogames['NA_Sales_Percentage'] = (videogames['NA_Sales'] / videogames['Global_Sales']) * 100
videogames.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales_Percentage
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.926044

## 9. Find the number NaN entries (missing data values) in each column.

In [19]:
# To find the total NaN entries for each column in the dataset, the isna() function is combined with the sum() function. 
# The isna() function iterates through each column to find the NaN values that are present, and the sum() function totals 
# them together by column. This is all stored in a variable that is called to realize the output.

num_nan_values = videogames.isna().sum()
print("Number of NaN values in each column:")
print(num_nan_values)

Number of NaN entries in each column:
Name                      2
Platform                  0
Year_of_Release         269
Genre                     2
Publisher                54
NA_Sales                  0
EU_Sales                  0
JP_Sales                  0
Other_Sales               0
Global_Sales              0
Critic_Score           8582
Critic_Count           8582
User_Score             6704
User_Count             9129
Developer              6623
Rating                 6769
NA_Sales_Percentage       0
dtype: int64

## 10. Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.

In [24]:
# To calculate the median user score value, we need to import the NumPy library to access its median() function

import numpy as np

# To handle the issue of some of the user score entries being non-numerical string values, I am employing Pandas's 
# to_numeric() function with the errors argument set to coerce. This function and argument specifically targets any values 
# in the User_Score variable that are invalid and turns into NaN values. Then the median() function from NumPy is used on 
# the correctly entered User_Score values to compute the median value and is then stored in a variable. To replace the NaN 
# values in the variable with the newly calculated median value, the fillna() function with the median value as an argument 
# as well as the inplace argument set to True is needed. Fillna() accesses the NaN values and replaces them with the median 
# value to fill the dataset variable. The median user score value is printed and the head() function is set to 15 to see 
# proper implementation of the code.

videogames['User_Score'] = pd.to_numeric(videogames['User_Score'], errors='coerce')
median_user_score = videogames['User_Score'].median()
videogames['User_Score'].fillna(median_user_score, inplace=True)
print('The median user score value is:', median_user_score)
videogames.head(15)

The median user score value is: 7.5

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales_Percentage
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,7.5,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,7.5,NaN,NaN,NaN,35.926044
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,7.5,NaN,NaN,NaN,76.668870
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E,37.852349
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E,48.271093
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E,50.988701
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,7.5,NaN,NaN,NaN,95.125397
10,Nintendogs,DS,2005.0,Simulation,Nintendo,9.05,10.95,1.93,2.74,24.67,NaN,NaN,7.5,NaN,NaN,NaN,36.684232
11,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.71,7.47,4.13,1.90,23.21,91.0,64.0,8.6,464.0,Nintendo,E,41.835416
12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10,NaN,NaN,7.5,NaN,NaN,NaN,38.961039
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E,39.295154
14,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,15.00,4.89,0.24,1.69,21.81,61.0,45.0,6.3,106.0,Good Science Studio,E,68.775791